body {
  background-size: 100%;
  font-size: 20px;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: -1;
}

.loading-overlay {
  z-index: 10;
}

.loading-label {
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.main {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.horiz-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.container {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.top.container {
  margin-right: 60px;
}

.side-container {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.half-nav-element {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.nav-spacer {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.nav-link {
  display: block;
  text-align: center;
  text-decoration: none;
  color: rgb(0, 60, 128);
}

.nav-link:hover {
  color: rgb(0, 90, 180);
}

.nav-element {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.nav-container {
  padding-top: 3em;
  -webkit-flex: 4;
  -ms-flex: 4;
  flex: 4;
  text-align: center;
}

.full-width {
  width: 100%;
}

.container > .line {
  margin-bottom: 24px;
}

.container > .line2 {
  margin-bottom: 48px;
}

.income-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.income {
  width: 300px;
  margin-right: 20px;
}

.income-label {
  width: 100px;
  font-size: 32px;
  font-weight: bold;
}

.ticket-container {
  position: relative;
  -ms-transform: rotate(-8deg);
  -webkit-transform: rotate(-8deg);
  transform: rotate(-8deg);
  text-align: center;
  margin-bottom: 50px;
}

.ticket-container > img {
  max-width: 90%;
}

.ticket-element {
  text-align: left;
  color: black;
  font-family: "Courier";
  position: absolute;
  z-index: 1;
}

.ticket-price {
  color: #706A5B;
  left: 39%;
  top: 59%;
  font-size: 12px;
}

.ticket-month-container {
  text-align: center;
  font-size: 16px;
  width: 50px;
  left: 63%;
  top: 20%;
}

.ticket-day-container {
  text-align: center;
  font-size: 42px;
  width: 50px;
  left: 63%;
  top: 30%;
}

.ticket-year-container {
  text-align: center;
  font-size: 12px;
  width: 50px;
  left: 63%;
  top: 55%;
}

.ticket-date {
  left: 75%;
  top: 34%;
  font-size: 13px;
}

.ticket-time {
  left: 75%;
  top: 45%;
  font-size: 13px;
}

.members button {
  width: 30px;
  height: 30px;
  float: left;
}

.members img {
  height: 30px;
}

.members.line {
  width: 360px;
  height: 30px;
}

.members-container {
  float: left;
  padding-left: 10px;
}

.conversation-container {
  height: 350px;
  width: 500px;
  position: relative;
  margin-top: -40px;
}

.bubble-left,
.bubble-right,
.pluto-left,
.pluto-right {
  opacity: 0;
}

.household-container {
  position: relative;
}

.household {
  display: inline;
  position: absolute;
}

.household-after {
  margin-left: 4.4em;
}

.oikos {
  font-weight: bold;
  font-size: 23px;
}

.title-image-container {
  margin-top: -15px;
  margin-bottom: -35px;
  position: relative;
}

.title-image {
  height: 200px;
}

.title-image-target {
  position: absolute;
  width: 75px;
  height: 24px;
  left: 100px;
  top: 87px;
}

.footer-image {
  width: 175px;
}

.wind-turbine {
  margin-top: 50px;
  height: 200px;
  width: 50px;
  background-image: url('img/wind-pole.png');
  background-size: 50px 200px;
  position: relative;
}

.wind-turbine-rotor {
  position: absolute;
  height: 125px;
  width: 125px;
  top: -42px;
  left: -36px;
  background-image: url('img/wind-rotor.png');
  background-size: 125px 125px;
}

.buy-link {
  cursor: pointer;
  height: 30px;
}

.rabbit {
  width: 75px;
  position: fixed;
  right: 0;
  bottom: 0;
}

.pluto-container {
  position: relative;
  width: 230px;
  height: 250px;
}

.stacked-image {
  position: absolute;
  width: 100%;
  -webkit-transition: opacity 0.75s ease-out;
  -moz-transition: opacity 0.75s ease-out;
  transition: opacity 0.75s ease-out;
}

.hover-target {
  position: absolute;
  /*border: 1px solid red;*/
  z-index: 2;
}

.convo-dk {
  left: 160px;
  bottom: 15px;
  width: 60px;
  height: 80px;
}

.convo-eury {
  right: 168px;
  bottom: 15px;
  width: 60px;
  height: 80px;
}

.convo-pluto {
  left: 90px;
  bottom: 15px;
  width: 65px;
  height: 100px;
}

.convo-ubu {
  width: 35px;
  height: 35px;
  right: 25px;
  bottom: 80px;
}

.price {
  font-weight: bold;
}

.counter-container {
  width: 75%;
}

.wp {
  margin-top: -10px;
}

.padjust {
  width: 150px;
}

.money-earned-container {
  position: relative;
}

.dollar {
  color: green;
  font-weight: bold;
  font-size: 22px;
  position: absolute;
  left: 85px;
  top: 0;
  opacity: 1;
}

.laurel-image {
  width: 100%;
}

.footer-image {
  width: 150%;
}