body {
  background-size: 100%;
  font-size: 20px;
}

.container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.container > .line {
  margin-bottom: 24px;
}

.income {
  width: 300px;
}

.price {
  font-size: 40px;
  font-weight: bold;
}

.income-label {
  font-size: 40px;
  font-weight: bold;
}

.download-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.download {
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  margin-right: 30px;
  font-size: 18px;
  text-decoration: none;
}

.ticket-container {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.ticket-container > img {
  max-width: 100%;
}

.ticket-price {
  color: #706A5B;
  font-family: "Courier";
  position: absolute;
  left: 37%;
  top: 60%;
  font-size: 12px;
  z-index: 1;
}

.members button {
  width: 30px;
  height: 30px;
  float: left;
}

.members img {
  height: 30px;
}

.members.line {
  width: 360px;
  height: 30px;
}

.members-container {
  float: left;
  padding-left: 10px;
}
